.button {
    padding: 8px 8px;
    
    background-color:lightcoral;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: black;
  }
  