table {
    width: 100%;
    border-collapse: collapse;
    
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #ccc;
    text-align: left;
}
.rows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}